.post-comment {
  grid-column: 6 / -1;
  width: 90%;
  padding-bottom: $space-xl;

  @media only screen and (max-width: $bp-lrg) {
    grid-column: 2 / 12;
    width: 90%;
  }

  @media only screen and (max-width: $bp-lrg) {
    margin-top: $space-xl;
  }

  & .name-email {
    & .name {
      border-bottom: 2px solid $color-orange;
      color: $color-orange;
    }

    & .email {
      border-bottom: 2px solid $color-orange;
      color: $color-orange;
    }
  }

  & .comment-container {
    & .comment {
      border: 2px solid $color-orange;
      color: $color-orange;
    }
  }
  
  & .btn-post {
    width: 100%;
  }
}
