.post-comment {
  grid-column: 6 / -1;
  width: 90%;
  padding-bottom: $space-xl;

  & .name-email {
    & .name {
      border-bottom: 2px solid $color-orange;
      color: $color-orange;
    }

    & .email {
      border-bottom: 2px solid $color-orange;
      color: $color-orange;
    }
  }

  & .comment-container {
    & .comment {
      border: 2px solid $color-orange;
      color: $color-orange;
    }
  }
  
  & .btn-post {
    width: 100%;
  }
}
