.events {
  grid-column: 1 / -1;
  background-color: $color-black;
  padding: $space-xl 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  & .wrapper {
    grid-column: 2 / 12;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media only screen and (max-width: $bp-xl) {
      flex-direction: column;
      align-items: center;
    }
  }

  & .img-container {
    width: 15rem;
    position: relative;
    z-index: 1;
    margin-left: 2rem;

    @media only screen and (max-width: $bp-xl) {
      width: 34%;
    }

    box-shadow: -1rem 1rem $color-orange;
    

    & img {
      display: block;
      max-width: 100%;
      z-index: 1;
    }
  }

  & .events-copy {
    width: 52rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media only screen and (max-width: $bp-xl) {
      width: 42rem;
      margin-top: $space-med;
    }
    @media only screen and (max-width: $bp-sml) {
        width: 90%;
    }

    &__heading {
      @include formatText($font-primary, $fs-med, $lh-med, $lsp-sml, 700);
      color: $color-orange;

      @media only screen and (max-width: $bp-xl) {
        align-self: center;
      }
    }

    &__copy {
      @include formatText($font-primary, $fs-sml, $lh-sml, $lsp-xs, 300);
      margin: $space-sml 0 $space-med 0;
      @media only screen and (max-width: $bp-xl) {
        width: 100%;
      }

      
    }

    & .btn-find {
      align-self: flex-start;
      @include formatSmlBtn($btn-sml-pad);

      @media only screen and (max-width: $bp-xl) {
        align-self: center;
      }
    }
  }
}
