.home header {
  grid-column: 1 / -1;

  background-image: url("../images/home-image-1.jpg");
  background-position: center;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 83%, 0% 83%);
  position: relative;

  & li:nth-of-type(1) a:link,
  & li:nth-of-type(1) a:visited {
    color: $color-orange;
  }

  & .hero {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
      display: flex;
      flex-direction: column;

      &--heading {
        @include formatText($font-secondary, $fs-xl, 0, $lsp-med, 300);
        color: $color-orange;
        z-index: 1;
      }

      &--copy {
        @include formatText($font-primary, $fs-lrg, $lh-lrg, $lsp-lrg, 300);
        margin-left: 5px;
        z-index: 1;
      }
    }
  }

  & .img-container {
    background: url("../images/header-box.jpg");
    background-size: contain;
    height: 80%;
    width: 50%;
    position: absolute;
    bottom: -5rem;
    right: 0;
  }
}
