body.home {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 90vh min-content;
}

.home main {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, min-content);
}
