.host {
  grid-column: 1 / -1;
  background-color: $color-black;
  padding: $space-huge 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--heading {
      @include formatText($font-primary, $fs-med, $lh-med, $lsp-sml, 700);
      color: $color-orange;
    }

    &--copy {
      @include formatText($font-primary, $fs-sml, $lh-sml, $lsp-xs, 300);
      text-align: center;
      margin: $space-med 0;
    }

    & .btn-find {
      @include formatSmlBtn($btn-sml-pad);
    }
  }
}
