.plan {
  grid-column: 1 / -1;
  background-color: $color-red--dark;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: $space-med 0;

  .img-container {
    width: 40rem;
    position: relative;
    transform: translateY(-4.5rem);
  }

  img {
    max-width: 80%;
    position: relative;
    z-index: 1;
  }

  .img-container::after {
    position: absolute;
    content: "";
    width: calc(40rem - 20%);
    height: calc(100% - 1.3rem);
    background-color: $color-orange;
    left: 1rem;
    top: 2rem;
  }

  .plan-copy {
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__heading {
      @include formatText($font-primary, $fs-med, $lh-med, $lsp-sml, 700);
    }

    &__copy {
      width: 80%;
      @include formatText($font-primary, $fs-sml, $lh-sml, $lsp-xs, 300);
    }

    & .btn-read {
      align-self: flex-start;
      margin-top: $space-med;
      @include formatSmlBtn($btn-sml-pad);
    }
  }
}
