.btn {
  border: none;
  background-color: $color--red;
  font-family: $font-secondary;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 2px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
  color: $color-white;

  
}

.btn:hover,
.btn:focus {
  color: $color-orange;
}
