.copyright {
  grid-column: 1 / -1;
  background-color: $color-grey;
  padding: $space-xs 0;
  &__copy {
    @include formatText($font-primary, $fs-sml, 1.2, $lsp-xs, 300);
    text-align: center;
    margin: 0;
  }
}
