.hamburger {
  display: none;

  @media only screen and (max-width: $bp-sml) {
    display: block;
    position: absolute;
    font-size: 3rem;
    right: 2rem;
    top: 2rem;
    z-index: 2;
    cursor: pointer;
  }

}
