.social {
  grid-column: 2 / 4;
  align-self: center;
  height: 15rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: $bp-sml) {
    align-items: center;
  }
  

  &__icons {
    list-style: none;
    display: flex;
    

    @media only screen and (max-width: $bp-sml) {
      width: 100%;
      justify-content: space-around;
    }

    &--icon {
      margin-right: 1.2rem;
      @media only screen and (max-width: $bp-sml) {
        margin-right: 0;
      }
    }
  }

  & a:link,
  a:visited  {
    text-decoration: none;
    color: $color-white;
    font-size: 1.5rem;
    transition: color .2s;
  }

  & a:hover,
  a:focus {
    color: $color-orange;
  }


  &__email {
    @include formatText($font-primary, $fs-sml, $lh-sml, $lsp-xs, 300);
  }

  &__address {
    @include formatText($font-primary, $fs-sml, $lh-sml, $lsp-xs, 300);

    @media only screen and (max-width: $bp-sml) {
        text-align: center;
    }

    & span {
      display: block;
    }
  }
}

.contact-form {
  grid-column: 5 / 12;

  width: 95%;
  background-color: $color-red--dark;
  padding: $space-xl $space-lrg $space-lrg;
  position: absolute;
  top: -10rem;
  right: 0;
  box-shadow: 1.5rem 1.5rem $color-orange;

  @media only screen and (max-width: $bp-xl) {
    width: 80%;
  }

  @media only screen and (max-width: $bp-lrg) {
    top: -6rem;
    padding: $space-lrg;
  }

  @media only screen and (max-width: $bp-sml) {
    width: 90%;
    padding: $space-lrg $space-med;
    position: relative;
    top: 0;
    box-shadow: 1rem 1rem $color-orange;
    margin: $space-med 0;
  }

  & .name-email {
    & .name {
      border-bottom: 2px solid $color-white;
      color: $color-white;
    }

    & .email {
      border-bottom: 2px solid $color-white;
      color: $color-white;
    }
  }

  & .comment-container {
    & .comment {
      border: 2px solid $color-white;
      color: $color-white;
    }
  }

  .btn-submit {
    width: 100%;
  }

}