body.contact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  grid-template-rows: 75vh 1fr min-content;

  @media only screen and (max-width: $bp-sml) {
    grid-template-rows: 75vh min-content min-content; 
  }

}

.contact main {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: $color-black;
  padding: $space-xl 0;
  position: relative;

  @media only screen and (max-width: $bp-sml) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $space-med;
  }
}
