.contact header {
  grid-column: 1 / -1;

  background: url("../images/contact-header-1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  & .contact-heading {
    @include formatText($font-primary, 6rem, $lh-med, $lsp-sml, 700);
    position: absolute;
    left: 10rem;
    bottom: 30%;
  }
}