// FONT FAMILY
$font-primary: "Chathura", sans-serif;
$font-secondary: "Tulpen One", cursive;

// FONT SIZE
// 261.4px
$fs-xl: 13.1rem;
// 83.2px
$fs-lrg: 4.2rem;
// 68px
$fs-med: 3.4rem;
// 39px
$fs-sml: 2rem;
// 38px
$fs-xs: 1.9rem;

// LINE HEIGHT
// 94.7px
$lh-lrg: 4.7rem;
// 58px
$lh-med: 2.9rem;
// 30px
$lh-sml: 1.5rem;
// 29px
$lh-xs: 1.45rem;

// LETTER SPACING
$lsp-lrg: 2.6px;
$lsp-med: 2.4px;
$lsp-sml: 2.2px;
$lsp-xs: 1.9px;
