// COLORS

$color-white: #fff;
$color-black: #111010;
$color-grey: #2c2c2c;

$color--red: #bf2603;
$color-red--dark: #220303;

$color-orange: #ff8327;

// SPACING

$space-huge: 8rem;
$space-xl: 6rem;
$space-lrg: 4rem;
$space-med: 2rem;
$space-sml: 1rem;
$space-xs: 0.5rem;

// SMALL BUTTON PADDING
$btn-sml-pad: 0.2rem 2rem;
