html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #fff;
  font-family: "Tulpen One", cursive;
  font-size: 125%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (max-width: 48em) {
  body {
    font-size: 113%;
  }
}

h1 {
  margin: 0.25em 0;
}

.nav-container {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}
@media only screen and (max-width: 48em) {
  .nav-container {
    display: none;
  }
}
.nav-container__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  height: inherit;
  width: 40%;
}
@media only screen and (max-width: 71.5em) {
  .nav-container__links {
    width: 65%;
  }
}
.nav-container__links--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-container__links--link a:link,
.nav-container__links--link a:visited {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-family: "Chathura", sans-serif;
  font-size: 1.9rem;
  line-height: 1.45rem;
  letter-spacing: 1.9px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.nav-container__links--link a:hover,
.nav-container__links--link a:focus {
  color: #ff8327;
}
.nav-container__links--link:nth-of-type(3) {
  font-size: 3.5rem;
  font-weight: 300;
}

.hamburger {
  display: none;
}
@media only screen and (max-width: 48em) {
  .hamburger {
    display: block;
    position: absolute;
    font-size: 3rem;
    right: 3rem;
    top: 2rem;
    z-index: 2;
    cursor: pointer;
  }
}

.bar {
  width: 45px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  border-radius: 8px;
}

.bar2 {
  opacity: 1;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.active .bar1 {
  -webkit-animation: squishDown 0.5s both;
          animation: squishDown 0.5s both;
}

.active .bar2 {
  opacity: 0;
}

.active .bar3 {
  -webkit-animation: squishUp 0.5s both;
          animation: squishUp 0.5s both;
}

@-webkit-keyframes squishDown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(13px);
            transform: translateY(13px);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(5px, 8px);
            transform: rotate(45deg) translate(5px, 8px);
  }
}

@keyframes squishDown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(13px);
            transform: translateY(13px);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(5px, 8px);
            transform: rotate(45deg) translate(5px, 8px);
  }
}
@-webkit-keyframes squishUp {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-13px);
            transform: translateY(-13px);
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(5px, -8px);
            transform: rotate(-45deg) translate(5px, -8px);
  }
}
@keyframes squishUp {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-13px);
            transform: translateY(-13px);
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(5px, -8px);
            transform: rotate(-45deg) translate(5px, -8px);
  }
}
.btn {
  border: none;
  background-color: #bf2603;
  font-family: "Tulpen One", cursive;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 2px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
}
.btn a {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.btn a:link,
.btn a:visited {
  text-decoration: none;
  color: #fff;
}

.btn:hover a,
.btn:focus a {
  color: #ff8327;
}

.copyright {
  grid-column: 1/-1;
  background-color: #2c2c2c;
  padding: 0.5rem 0;
}
.copyright__copy {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 1.9px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

form .name-email {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form .name-email > * {
  width: 45%;
  height: 2rem;
}
form .name-email .name {
  background-color: transparent;
  border: none;
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
}
form .name-email .name + label {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
  position: absolute;
  top: -30px;
  left: 30px;
  -webkit-transition: font-size 0.2s;
  transition: font-size 0.2s;
}
form .name-email .name:focus + label {
  font-size: 2.5rem;
}
form .name-email .email {
  background-color: transparent;
  border: none;
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
}
form .name-email .email + label {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
  position: absolute;
  top: -30px;
  right: -30px;
  -webkit-transition: font-size 0.2s;
  transition: font-size 0.2s;
}
form .name-email .email:focus + label {
  font-size: 2.5rem;
}
form .comment-container {
  position: relative;
}
form .comment-container .comment {
  margin: 2rem 0;
  height: 12rem;
  width: 100%;
  background-color: transparent;
  border: none;
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
}
form .comment-container .comment + label {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
  position: absolute;
  top: 60px;
  left: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
form .comment-container .comment:focus + label {
  -webkit-transform: translateY(-58px);
          transform: translateY(-58px);
}

body.home {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 90vh -webkit-min-content;
  grid-template-rows: 90vh min-content;
}

.home main {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, -webkit-min-content);
  grid-template-rows: repeat(9, min-content);
}

.home header {
  grid-column: 1/-1;
  background-image: url("../images/home-image-1.jpg");
  background-position: center;
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 83%, 0% 83%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 83%, 0% 83%);
  position: relative;
}
.home header li:nth-of-type(1) a:link, .home header li:nth-of-type(1) a:visited {
  color: #ff8327;
}
.home header .hero {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home header .hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home header .hero__container--heading {
  font-family: "Tulpen One", cursive;
  font-size: 13.1rem;
  line-height: 0;
  letter-spacing: 2.4px;
  font-weight: 300;
  color: #ff8327;
  z-index: 1;
}
@media only screen and (max-width: 48em) {
  .home header .hero__container--heading {
    font-size: 10rem;
  }
}
.home header .hero__container--copy {
  font-family: "Chathura", sans-serif;
  font-size: 4.2rem;
  line-height: 4.7rem;
  letter-spacing: 2.6px;
  font-weight: 300;
  margin-left: 5px;
  z-index: 1;
}
@media only screen and (max-width: 48em) {
  .home header .hero__container--copy {
    font-size: 3rem;
  }
}
.home header .img-container {
  background: url("../images/header-box.jpg");
  background-size: contain;
  height: 80%;
  width: 50%;
  position: absolute;
  bottom: -5rem;
  right: 0;
}
@media only screen and (max-width: 48em) {
  .home header .img-container {
    display: none;
  }
}

.home-overview {
  grid-column: 1/-1;
  background-color: #111010;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 14rem 0 6rem 0;
  margin-top: -12rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.home-overview .wrapper {
  grid-column: 2/12;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
}
@media only screen and (max-width: 48em) {
  .home-overview .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(60%, 1fr));
  }
}
.home-overview__article {
  display: grid;
  grid-template-columns: -webkit-min-content 30rem;
  grid-template-columns: min-content 30rem;
  margin: 1rem;
}
@media only screen and (max-width: 59.38em) {
  .home-overview__article {
    grid-template-columns: -webkit-min-content 90%;
    grid-template-columns: min-content 90%;
    margin: 2rem 0;
  }
}
.home-overview__article--1 {
  justify-self: end;
}
@media only screen and (max-width: 59.38em) {
  .home-overview__article--1 {
    justify-self: center;
  }
}
.home-overview__article--2 {
  justify-self: start;
}
@media only screen and (max-width: 59.38em) {
  .home-overview__article--2 {
    justify-self: center;
  }
}
.home-overview__article--3 {
  justify-self: end;
}
@media only screen and (max-width: 59.38em) {
  .home-overview__article--3 {
    justify-self: center;
  }
}
.home-overview__article--4 {
  justify-self: start;
}
@media only screen and (max-width: 59.38em) {
  .home-overview__article--4 {
    justify-self: center;
  }
}
.home-overview__article--icon {
  background: #bf2603;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 1/2;
  margin-right: 1rem;
}
@media only screen and (max-width: 48em) {
  .home-overview__article--icon {
    width: 2rem;
    height: 2rem;
  }
}
.home-overview__article--icon .fas {
  font-size: 1.5rem;
}
@media only screen and (max-width: 48em) {
  .home-overview__article--icon .fas {
    font-size: 1.2rem;
  }
}
.home-overview__article--heading {
  grid-column: 2/3;
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
  align-self: end;
}
.home-overview__article--copy {
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
}

.plan {
  grid-column: 1/-1;
  background-color: #220303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
}
@media only screen and (max-width: 71.5em) {
  .plan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.plan .img-container {
  width: 40rem;
  -webkit-transform: translateY(-4.5rem);
          transform: translateY(-4.5rem);
  -webkit-box-shadow: 1.2rem 1.2rem #ff8327;
          box-shadow: 1.2rem 1.2rem #ff8327;
}
@media only screen and (max-width: 84em) {
  .plan .img-container {
    width: 35rem;
  }
}
@media only screen and (max-width: 48em) {
  .plan .img-container {
    width: 90%;
  }
}
.plan img {
  display: block;
  max-width: 100%;
  z-index: 1;
}
.plan .plan-copy {
  width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 84em) {
  .plan .plan-copy {
    width: 35rem;
  }
}
@media only screen and (max-width: 71.5em) {
  .plan .plan-copy {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 48em) {
  .plan .plan-copy {
    width: 90%;
  }
}
.plan .plan-copy__heading {
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
}
.plan .plan-copy__copy {
  width: 80%;
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
}
.plan .plan-copy .btn-read {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 2rem;
  padding: 0.2rem 2rem;
}
@media only screen and (max-width: 71.5em) {
  .plan .plan-copy .btn-read {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.locations {
  grid-column: 1/-1;
  background-color: #220303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 71.5em) {
  .locations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.locations .locations-copy {
  width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 2rem;
}
@media only screen and (max-width: 84em) {
  .locations .locations-copy {
    width: 35rem;
  }
}
@media only screen and (max-width: 84em) {
  .locations .locations-copy {
    padding: 2rem 0;
  }
}
@media only screen and (max-width: 48em) {
  .locations .locations-copy {
    width: 90%;
  }
}
.locations .locations-copy__heading {
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
}
@media only screen and (max-width: 84em) {
  .locations .locations-copy__heading {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.locations .locations-copy__copy {
  width: 80%;
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
}
@media only screen and (max-width: 84em) {
  .locations .locations-copy__copy {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.locations .locations-copy .btn-read {
  margin-top: 2rem;
  padding: 0.2rem 2rem;
}
@media only screen and (max-width: 84em) {
  .locations .locations-copy .btn-read {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.locations .img-container {
  width: 40rem;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  -webkit-box-shadow: -1.2rem 1.2rem #ff8327;
          box-shadow: -1.2rem 1.2rem #ff8327;
}
@media only screen and (max-width: 84em) {
  .locations .img-container {
    width: 35rem;
  }
}
@media only screen and (max-width: 71.5em) {
  .locations .img-container {
    -webkit-transform: none;
            transform: none;
  }
}
@media only screen and (max-width: 48em) {
  .locations .img-container {
    width: 90%;
  }
}
.locations img {
  display: block;
  max-width: 100%;
  z-index: 1;
}

.host {
  grid-column: 1/-1;
  background-color: #111010;
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.host__container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.host__container--heading {
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
  color: #ff8327;
  text-align: center;
}
.host__container--copy {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
  text-align: center;
  margin: 2rem 0;
}
.host__container .btn-find {
  padding: 0.2rem 2rem;
}

.big-img {
  grid-column: 1/-1;
  margin-bottom: -1rem;
}
.big-img .img-container {
  width: inherit;
}
.big-img .img-container img {
  max-width: 100%;
}

.events {
  grid-column: 1/-1;
  background-color: #111010;
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.events .wrapper {
  grid-column: 2/12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 84em) {
  .events .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.events .img-container {
  width: 15rem;
  position: relative;
  z-index: 1;
  margin-left: 2rem;
  -webkit-box-shadow: -1rem 1rem #ff8327;
          box-shadow: -1rem 1rem #ff8327;
}
@media only screen and (max-width: 84em) {
  .events .img-container {
    width: 34%;
  }
}
.events .img-container img {
  display: block;
  max-width: 100%;
  z-index: 1;
}
.events .events-copy {
  width: 52rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 84em) {
  .events .events-copy {
    width: 42rem;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 48em) {
  .events .events-copy {
    width: 90%;
  }
}
.events .events-copy__heading {
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
  color: #ff8327;
}
@media only screen and (max-width: 84em) {
  .events .events-copy__heading {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.events .events-copy__copy {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
  margin: 1rem 0 2rem 0;
}
@media only screen and (max-width: 84em) {
  .events .events-copy__copy {
    width: 100%;
  }
}
.events .events-copy .btn-find {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0.2rem 2rem;
}
@media only screen and (max-width: 84em) {
  .events .events-copy .btn-find {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.gallery {
  grid-column: 1/-1;
  background-color: #220303;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
  padding: 4rem 0;
}
.gallery .wrapper {
  grid-column: 2/12;
}
.gallery .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .img-container {
  width: 33%;
  overflow: hidden;
  padding: 0.5rem;
}
.gallery .img-container img {
  max-width: 100%;
}

body.blog {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 75vh -webkit-min-content;
  grid-template-rows: 75vh min-content;
}

.blog main {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, -webkit-min-content);
  grid-template-rows: repeat(5, min-content);
  background-color: #111010;
  padding-top: 6rem;
}

.blog header {
  grid-column: 1/-1;
  background: url("../images/blog-header-1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.blog header li:nth-of-type(4) a:link, .blog header li:nth-of-type(4) a:visited {
  color: #ff8327;
}
.blog header .blog-heading {
  font-family: "Chathura", sans-serif;
  font-size: 6rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
  position: absolute;
  left: 10rem;
  bottom: 30%;
}
@media only screen and (max-width: 48em) {
  .blog header .blog-heading {
    left: 5rem;
    bottom: 50%;
  }
}

.mission {
  grid-column: 1/5;
  grid-row: 1/3;
  width: 20rem;
  height: 46rem;
  background-color: #220303;
  justify-self: center;
}
@media only screen and (max-width: 48em) {
  .mission {
    grid-row: 1/2;
    grid-column: 1/-1;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 90%;
    margin-bottom: 20rem;
    padding-bottom: 2rem;
  }
}

.mission-container__img {
  width: 25rem;
  -webkit-transform: translate(-25%, -5%);
          transform: translate(-25%, -5%);
}
@media only screen and (max-width: 48em) {
  .mission-container__img {
    -webkit-transform: translate(-5%, -5%);
            transform: translate(-5%, -5%);
    width: 100%;
  }
}
.mission-container__img img {
  max-width: 100%;
}
.mission-container__mission {
  padding: 0 2rem;
}
.mission-container__mission--heading {
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
}
.mission-container__mission--copy {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
}
.mission-container__mission span {
  display: block;
}
.mission-container__mission a:link,
.mission-container__mission a:visited {
  text-decoration: none;
  color: #ff8327;
}
.mission-container__posts {
  padding: 0 2rem;
  margin-top: 2rem;
}
.mission-container__posts--heading {
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
}
.mission-container__posts--list {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
  list-style: none;
}
.mission-container__posts span {
  font-family: "Tulpen One", cursive;
  font-size: 25px;
  color: #ff0000;
}

.menu {
  grid-column: 5/-1;
  grid-row: 1/3;
  margin-top: -15rem;
  z-index: 1;
  width: 55rem;
  justify-self: end;
}
@media only screen and (max-width: 84em) {
  .menu {
    width: 45rem;
  }
}
@media only screen and (max-width: 71.5em) {
  .menu {
    width: 100%;
    grid-column: 7/-1;
  }
}
@media only screen and (max-width: 48em) {
  .menu {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}
.menu__img-container {
  -webkit-box-shadow: -1.5rem 1.5rem #ff8327;
          box-shadow: -1.5rem 1.5rem #ff8327;
  overflow: hidden;
  width: 100%;
}
@media only screen and (max-width: 48em) {
  .menu__img-container {
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: -1rem 1rem #ff8327;
            box-shadow: -1rem 1rem #ff8327;
  }
}
.menu__img-container img {
  display: block;
  max-width: 100%;
}
.menu__post {
  border-left: 5px solid #ff8327;
  border-bottom: 5px solid #ff8327;
  padding: 4rem 6rem;
  margin-left: -1.5rem;
}
@media only screen and (max-width: 71.5em) {
  .menu__post {
    padding: 2rem;
  }
}
@media only screen and (max-width: 48em) {
  .menu__post {
    padding: 4rem;
  }
}
.menu__post--heading {
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
}
.menu__post--date {
  font-family: "Chathura", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
  color: #ff8327;
}
.menu__post--copy {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
  margin-top: 2rem;
}

.comments {
  grid-column: 6/-1;
  padding: 4rem 6rem 2rem 2rem;
}
@media only screen and (max-width: 71.5em) {
  .comments {
    grid-column: 2/12;
  }
}
.comments h2 {
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.comments .comment {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 48em) {
  .comments .comment {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.comments .comment:nth-of-type(1) {
  margin-bottom: 4rem;
}
.comments .comment__img-container {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
@media only screen and (max-width: 71.5em) {
  .comments .comment__img-container {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.comments .comment__img-container img {
  max-width: 100%;
}
.comments .comment__copy {
  width: 38rem;
}
@media only screen and (max-width: 71.5em) {
  .comments .comment__copy {
    width: 100%;
  }
}
.comments .comment__copy--heading {
  font-family: "Chathura", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
  color: #ff8327;
  margin-bottom: 0.5rem;
}
.comments .comment__copy--copy {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
}

.post-comment {
  grid-column: 6/-1;
  width: 90%;
  padding-bottom: 6rem;
}
@media only screen and (max-width: 71.5em) {
  .post-comment {
    grid-column: 2/12;
    width: 90%;
  }
}
@media only screen and (max-width: 71.5em) {
  .post-comment {
    margin-top: 6rem;
  }
}
.post-comment .name-email .name {
  border-bottom: 2px solid #ff8327;
  color: #ff8327;
}
.post-comment .name-email .email {
  border-bottom: 2px solid #ff8327;
  color: #ff8327;
}
.post-comment .comment-container .comment {
  border: 2px solid #ff8327;
  color: #ff8327;
}
.post-comment .btn-post {
  width: 100%;
}

body.contact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  grid-template-rows: 75vh 1fr -webkit-min-content;
  grid-template-rows: 75vh 1fr min-content;
}
@media only screen and (max-width: 48em) {
  body.contact {
    grid-template-rows: 75vh -webkit-min-content -webkit-min-content;
    grid-template-rows: 75vh min-content min-content;
  }
}

.contact main {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #111010;
  padding: 6rem 0;
  position: relative;
}
@media only screen and (max-width: 48em) {
  .contact main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
  }
}

.contact header {
  grid-column: 1/-1;
  background: url("../images/contact-header-1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.contact header li:nth-of-type(5) a:link, .contact header li:nth-of-type(5) a:visited {
  color: #ff8327;
}
.contact header .contact-heading {
  font-family: "Chathura", sans-serif;
  font-size: 6rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
  position: absolute;
  left: 10rem;
  bottom: 30%;
}
@media only screen and (max-width: 48em) {
  .contact header .contact-heading {
    left: 5rem;
    bottom: 50%;
  }
}

.social {
  grid-column: 2/4;
  align-self: center;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 48em) {
  .social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.social__icons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 48em) {
  .social__icons {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.social__icons--icon {
  margin-right: 1.2rem;
}
@media only screen and (max-width: 48em) {
  .social__icons--icon {
    margin-right: 0;
  }
}
.social a:link,
.social a:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.social a:hover,
.social a:focus {
  color: #ff8327;
}
.social__email {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
}
.social__address {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
}
@media only screen and (max-width: 48em) {
  .social__address {
    text-align: center;
  }
}
.social__address span {
  display: block;
}

.contact-form {
  grid-column: 5/12;
  width: 95%;
  background-color: #220303;
  padding: 6rem 4rem 4rem;
  position: absolute;
  top: -10rem;
  right: 0;
  -webkit-box-shadow: 1.5rem 1.5rem #ff8327;
          box-shadow: 1.5rem 1.5rem #ff8327;
}
@media only screen and (max-width: 84em) {
  .contact-form {
    width: 80%;
  }
}
@media only screen and (max-width: 71.5em) {
  .contact-form {
    top: -6rem;
    padding: 4rem;
  }
}
@media only screen and (max-width: 48em) {
  .contact-form {
    width: 90%;
    padding: 4rem 2rem;
    position: relative;
    top: 0;
    -webkit-box-shadow: 1rem 1rem #ff8327;
            box-shadow: 1rem 1rem #ff8327;
    margin: 2rem 0;
  }
}
.contact-form .name-email .name {
  border-bottom: 2px solid #fff;
  color: #fff;
}
.contact-form .name-email .email {
  border-bottom: 2px solid #fff;
  color: #fff;
}
.contact-form .comment-container .comment {
  border: 2px solid #fff;
  color: #fff;
}
.contact-form .btn-submit {
  width: 100%;
}