html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 125%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-family: "Tulpen One", cursive;
}

h1 {
  margin: 0.25em 0;
}

.nav-container {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}
.nav-container__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  height: inherit;
  width: 40%;
}
.nav-container__links--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-container__links--link a:link,
.nav-container__links--link a:visited {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-family: "Chathura", sans-serif;
  font-size: 1.9rem;
  line-height: 1.45rem;
  letter-spacing: 1.9px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.nav-container__links--link a:hover,
.nav-container__links--link a:focus {
  color: #ff8327;
}
.nav-container__links--link:nth-of-type(3) {
  font-size: 3.5rem;
  font-weight: 300;
}

.btn {
  border: none;
  background-color: #bf2603;
  font-family: "Tulpen One", cursive;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 2px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
}
.btn a {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.btn a:link,
.btn a:visited {
  text-decoration: none;
  color: #fff;
}

.btn:hover a,
.btn:focus a {
  color: #ff8327;
}

.copyright {
  grid-column: 1/-1;
  background-color: #2c2c2c;
  padding: 0.5rem 0;
}
.copyright__copy {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 1.9px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

body.home {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 90vh -webkit-min-content;
  grid-template-rows: 90vh min-content;
}

.home main {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, -webkit-min-content);
  grid-template-rows: repeat(9, min-content);
}

.home header {
  grid-column: 1/-1;
  background-image: url("../images/home-image-1.jpg");
  background-position: center;
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 83%, 0% 83%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 83%, 0% 83%);
  position: relative;
}
.home header li:nth-of-type(1) a:link, .home header li:nth-of-type(1) a:visited {
  color: #ff8327;
}
.home header .hero {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home header .hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home header .hero__container--heading {
  font-family: "Tulpen One", cursive;
  font-size: 13.1rem;
  line-height: 0;
  letter-spacing: 2.4px;
  font-weight: 300;
  color: #ff8327;
  z-index: 1;
}
.home header .hero__container--copy {
  font-family: "Chathura", sans-serif;
  font-size: 4.2rem;
  line-height: 4.7rem;
  letter-spacing: 2.6px;
  font-weight: 300;
  margin-left: 5px;
  z-index: 1;
}
.home header .img-container {
  background: url("../images/header-box.jpg");
  background-size: contain;
  height: 80%;
  width: 50%;
  position: absolute;
  bottom: -5rem;
  right: 0;
}

.home-overview {
  grid-column: 1/-1;
  background-color: #111010;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 14rem 0 6rem 0;
  margin-top: -12rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.home-overview .wrapper {
  grid-column: 2/12;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
}
.home-overview__article {
  display: grid;
  grid-template-columns: -webkit-min-content 30rem;
  grid-template-columns: min-content 30rem;
  margin: 1rem;
}
.home-overview__article--1 {
  justify-self: end;
}
.home-overview__article--2 {
  justify-self: start;
}
.home-overview__article--3 {
  justify-self: end;
}
.home-overview__article--4 {
  justify-self: start;
}
.home-overview__article--icon {
  background: #bf2603;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 1/2;
  margin-right: 1rem;
}
.home-overview__article--icon .fas {
  font-size: 1.5rem;
}
.home-overview__article--heading {
  grid-column: 2/3;
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
  align-self: end;
}
.home-overview__article--copy {
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
}

.plan {
  grid-column: 1/-1;
  background-color: #220303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2rem;
}
.plan .img-container {
  width: 40rem;
  position: relative;
  -webkit-transform: translateY(-4.5rem);
          transform: translateY(-4.5rem);
}
.plan img {
  max-width: 100%;
  position: relative;
  z-index: 1;
}
.plan .img-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: calc(100% - 1.3rem);
  background-color: #ff8327;
  left: 1rem;
  top: 2rem;
}
.plan .plan-copy {
  width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.plan .plan-copy__heading {
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
}
.plan .plan-copy__copy {
  width: 80%;
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
}
.plan .plan-copy .btn-read {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 2rem;
  padding: 0.2rem 2rem;
}

.locations {
  grid-column: 1/-1;
  background-color: #220303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.locations .locations-copy {
  width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.locations .locations-copy__heading {
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
}
.locations .locations-copy__copy {
  width: 80%;
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
}
.locations .locations-copy .btn-read {
  margin-top: 2rem;
  padding: 0.2rem 2rem;
}
.locations .img-container {
  width: 40rem;
  position: relative;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
}
.locations img {
  max-width: 100%;
  position: relative;
  z-index: 1;
}
.locations .img-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: calc(100% - 1.3rem);
  background-color: #ff8327;
  top: 2rem;
  left: -1rem;
}

.host {
  grid-column: 1/-1;
  background-color: #111010;
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.host__container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.host__container--heading {
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
  color: #ff8327;
}
.host__container--copy {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
  text-align: center;
  margin: 2rem 0;
}
.host__container .btn-find {
  padding: 0.2rem 2rem;
}

.big-img {
  grid-column: 1/-1;
  margin-bottom: -1rem;
}
.big-img .img-container {
  width: inherit;
}
.big-img .img-container img {
  max-width: 100%;
}

.events {
  grid-column: 1/-1;
  background-color: #111010;
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.events .wrapper {
  grid-column: 2/12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.events .img-container {
  width: 15rem;
  position: relative;
  z-index: 1;
  margin-left: 2rem;
}
.events .img-container img {
  max-width: 100%;
  z-index: 1;
}
.events .img-container .background-square {
  display: inline;
  width: 100%;
  height: 100%;
  background-color: #ff8327;
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  z-index: -1;
}
.events .events-copy {
  width: 52rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.events .events-copy__heading {
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
  color: #ff8327;
}
.events .events-copy__copy {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
  margin: 1rem 0 2rem 0;
}
.events .events-copy .btn-find {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0.2rem 2rem;
}

.gallery {
  grid-column: 1/-1;
  background-color: #220303;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
  padding: 4rem 0;
}
.gallery .wrapper {
  grid-column: 2/12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .img-container {
  width: 24rem;
  overflow: hidden;
  padding: 0.5rem;
}
.gallery .img-container img {
  max-width: 100%;
}

body.blog {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 75vh -webkit-min-content;
  grid-template-rows: 75vh min-content;
}

.blog main {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, -webkit-min-content);
  grid-template-rows: repeat(5, min-content);
  background-color: #111010;
  padding-top: 6rem;
}

.blog header {
  grid-column: 1/-1;
  background: url("../images/blog-header-1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.blog header li:nth-of-type(4) a:link, .blog header li:nth-of-type(4) a:visited {
  color: #ff8327;
}
.blog header .blog-heading {
  font-family: "Chathura", sans-serif;
  font-size: 6rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
  position: absolute;
  left: 10rem;
  bottom: 30%;
}

.mission {
  grid-column: 1/5;
  grid-row: 1/3;
  width: 20rem;
  height: 46rem;
  background-color: #220303;
  justify-self: center;
}

.mission-container__img {
  width: 25rem;
  -webkit-transform: translate(-25%, -5%);
          transform: translate(-25%, -5%);
}
.mission-container__img img {
  max-width: 100%;
}
.mission-container__mission {
  padding: 0 2rem;
}
.mission-container__mission--heading {
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
}
.mission-container__mission--copy {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
}
.mission-container__mission span {
  display: block;
}
.mission-container__mission a:link,
.mission-container__mission a:visited {
  text-decoration: none;
  color: #ff8327;
}
.mission-container__posts {
  padding: 0 2rem;
  margin-top: 2rem;
}
.mission-container__posts--heading {
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
}
.mission-container__posts--list {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
  list-style: none;
}
.mission-container__posts span {
  font-family: "Tulpen One", cursive;
  font-size: 25px;
  color: #ff0000;
}

.menu {
  grid-column: 5/-1;
  grid-row: 1/3;
  margin-top: -15rem;
  z-index: 1;
  width: 55rem;
  justify-self: end;
}
.menu__img-container {
  -webkit-box-shadow: -1.5rem 1.5rem #ff8327;
          box-shadow: -1.5rem 1.5rem #ff8327;
  overflow: hidden;
  width: 100%;
}
.menu__img-container img {
  display: block;
  max-width: 100%;
}
.menu__post {
  border-left: 5px solid #ff8327;
  border-bottom: 5px solid #ff8327;
  padding: 4rem 6rem;
  margin-left: -1.5rem;
}
.menu__post--heading {
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
}
.menu__post--date {
  font-family: "Chathura", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
  color: #ff8327;
}
.menu__post--copy {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
  margin-top: 2rem;
}

.comments {
  grid-column: 6/-1;
  padding: 4rem 6rem 2rem 2rem;
}
.comments h2 {
  font-family: "Chathura", sans-serif;
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.comments .comment {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comments .comment:nth-of-type(1) {
  margin-bottom: 4rem;
}
.comments .comment__img-container {
  width: 5rem;
  height: 5rem;
}
.comments .comment__img-container img {
  max-width: 100%;
}
.comments .comment__copy {
  width: 37rem;
}
.comments .comment__copy--heading {
  font-family: "Chathura", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
  color: #ff8327;
  margin-bottom: 0.5rem;
}
.comments .comment__copy--copy {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  font-weight: 300;
}